@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
#html-header {background-image: url(../img/star-bg.jpg);
        display: flex;
        flex-direction: row;
        width: 100%;
    }
.circle-btn:hover {
        animation-name: resize-border;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
@keyframes resize-border{
        0% {
                font-size: medium;
                background-image: linear-gradient(180deg,#87cefa,white,#87cefa);
        }
        50% {
                border: 5px solid black;
                font-size: large;
                background-image: linear-gradient(180deg,#b8fca4,white,#b8fca4);
        }
        100% {
                font-size: medium;
                background-image: linear-gradient(180deg,#87cefa,white,#87cefa);
        }
}
.circle-btn {
        color: black;
        width: 10%;
        border: black 5px solid;
        border-radius: 50%;
        font-family: 'Courgette', cursive, monospace;
        font-size: medium;
        background-image: linear-gradient(180deg,#87cefa,white,#87cefa);
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
nav a {display: block;
    padding: 5px 0px 5px 0px ;
}
nav a:hover{
        background-color: black;
        color: white;
}
nav {
    width: 100%;
    overflow-y: scroll;
    height: 60%;
    background-color: lightcyan;}
.group-content {width : 15%;
                text-align : center;
                background-color: lightpink;}
.content {width: 85%;
        background-color: white;}
#content-part {display: flex;
        flex-direction: row;
        height: 700px;}
iframe {width: 100%;
        height: 100%;}
h3 {font-size: 30px;}
.paragraph{text-indent: 15px;}
#my_image{width: 20%;
        height: 40%;
        margin-left: 30%;}
pre {font-size: 18px;}
xmp {font-size: 15px;}
.test-table {
        border: 1px solid black;
        background-color: white;
      }
#group_item .group_list_box{
        background-color: blanchedalmond;
        border: 1px solid black;
}
.box{
        background-color: blanchedalmond;
        border: 5px solid black;
}
#html-top {
        width:80%;
        text-align: center;
        font-family: 'Courgette', cursive, monospace;
        color: orange;
}